body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.border{
border-style: solid;
border-width: 15px;
border-color: rgb(68, 19, 202);
background-color: rgb(207, 225, 243);
  
}
.heading{
    position: relative;
    left:15%;
}
.subheading{
    position: relative;
    left:7.5%;
}
.row2{
    position: relative;
    left:7.5%;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: solid;
    width: 100%;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    
  
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    border-radius: 20px 20px 20px 20px;
    padding: 3px;
  
  }
  

  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px 20px 20px 20px;
    background-color: none;
    color: black;
  }
  .note{
      font-size: 25px;
      color: black;
  }