body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background-color: rgb(203, 248, 233);
  
}
.border{

border-width: 100%;
}
.heading{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left:10%;
    font-weight: bold;
  
}
.subheading{
    position: relative;
    left:5.5%;
}
.row2{
    position: relative;
    left:5.5%;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: solid;
    width: 100%;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    
  
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    border-radius: 20px 20px 20px 20px;
    padding: 3px;
  
  }
  

  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px 20px 20px 20px;
    background-color: none;
    color: black;
  }
  .note{
      font-size: 25px;
      color: black;
  }